[Unit]
Description=DisplayPi kiosk browser
After=network.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 /home/diego/DisplayPi/displaypi.py
Restart=on-failure

[Install]
WantedBy=graphical.target
